

<!-- Section 2 -->

  <div class="pt-5 px-5 my-5">

    <div class="text-left pt-5">
      <h3 class="mb-3 feature-title"><strong>Arabic! Latest At Signature</strong></h3>
    </div>
          <!--Grid row-->
      <div class="row wow fadeIn mt-3 py-4">

        <!--Grid column-->
        <div class="col-lg-6 col-md-12">
          <div class="row">
            <div class="col-12">
              <div id="accordion">
                <!-- FirstRow -->
                <div class="card">
                <div class="row">
                <div class="col-lg-6 col-md-12 text-center">
                  <img class="img-fluid p-3" src="img/Happy-Eid-Images-BESTLINECARGO.jpg">
                </div>
                <div class="col-lg-6 col-md-12 p-3">
                  <div class="p-3">
                  <h1>Header</h1>
                  <p class="blue-text">March 30, 2020</p>
                  <p class="pr-3">Signature will be closed from Sunday August 11th until Tuesday August 13th to observe Eid Al Adha.  Signature will reopen on Wednesday, August 14th with our regular business hours of 8:30 to 5:30 p.m.</p>
                  <div id="collapseOne" class="collapse" data-parent="#accordion">
                  <div class="">
                  <p>The Signature team hopes that all of our clients will have a relaxing and enjoyable break during this period.</p>
                  </div>
                  </div>
                  <a href="#collapseOne" data-toggle="collapse" class="collapsed"></a>
                </div>
                </div>
                </div>
                </div>
              <!-- First Row -->
              <!-- Second Row -->
              <div class="card mt-3">
              <div class="row">
              <div class="col-lg-6 col-md-12 text-center">
                <img class="img-fluid p-3" src="img/Happy-Eid-Images-BESTLINECARGO.jpg">
              </div>
              <div class="col-lg-6 col-md-12 p-3">
                <div class="p-3">
                <h1>Header</h1>
                <p class="blue-text">March 30, 2020</p>
                <p class="pr-3">Signature will be closed from Sunday August 11th until Tuesday August 13th to observe Eid Al Adha.  Signature will reopen on Wednesday, August 14th with our regular business hours of 8:30 to 5:30 p.m.</p>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="">
                <p>The Signature team hopes that all of our clients will have a relaxing and enjoyable break during this period.</p>
                </div>
                </div>
                <a href="#collapseTwo" data-toggle="collapse" class="collapsed"></a>
              </div>
              </div>
                </div>
              </div>
              <!-- Second Row -->
              <!-- Third Row -->
              <div class="card my-3">
              <div class="row">
              <div class="col-lg-6 col-md-12 text-center">
                <img class="img-fluid p-3" src="img/Happy-Eid-Images-BESTLINECARGO.jpg">
              </div>
              <div class="col-lg-6 col-md-12 p-3">
                <div class="p-3">
                <h1>Header</h1>
                <p class="blue-text">March 30, 2020</p>
                <p class="pr-3">Signature will be closed from Sunday August 11th until Tuesday August 13th to observe Eid Al Adha.  Signature will reopen on Wednesday, August 14th with our regular business hours of 8:30 to 5:30 p.m.</p>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="">
                <p>The Signature team hopes that all of our clients will have a relaxing and enjoyable break during this period.</p>
                </div>
                </div>
                <a href="#collapseThree" data-toggle="collapse" class="collapsed"></a>
              </div>
              </div>
              </div>
              </div>
              <!-- Third Row -->
              </div>
            </div>
          </div>


        </div>
        <!--/Grid column-->

        <div class="col-lg-6 col-md-12 m-0">
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-2">
              <a class="twitter-timeline" href="https://twitter.com/SignatureDXB?ref_src=twsrc%5Etfw" data-limit="3">Tweets by SignatureDXB</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-lg-8 col-md-12 mt-md-3 text-center">
              <div class="fb-page" data-href="https://www.facebook.com/pages/Signature/364761476378" data-tabs="timeline" data-width="500px" data-height="1000px" data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/pages/Signature/364761476378" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/pages/Signature/364761476378">‏‎Signature Businessmen Services‎‏</a></blockquote></div>
            </div>
          </div>
        </div>




      </div>




  </div>
<!-- Section 2 -->
