
<!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view" style="background-image: url('img/alsalamday.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('img/alsalamnight.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('img/szrnight.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">


          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Third slide-->

    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

  </div>
  <!--/.Carousel Wrapper-->



  <div class="px-5 my-5 text-right">


          <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-10 col-md-12">

          <!--First row-->
          <div class="row">
            <div class="col-12 text-right">
              <h3 class="mb-3 feature-title"><strong>
                خدمات إدارة الاتصالات
              </strong></h3>
              <p class="mb-3 grey-text">
                نحن هنا في مركز الإمضاء نوفر خدمات إدارة جميع وسائل الاتصال حتى نسهل تواصلك مع عملائك.
              </p>
              <h5 class="mb-3 feature-title">
                <strong>
                  خدمات متكاملة لإدارة الاتصالات
                </strong></h5>
              <p class="mb-3 grey-text">
                إذا كنت مشغل وحيد لشركتك وتحتاج خدمات سكرتارية مساندة وصوت مهني يساعدك على انجاز تعاملاتك المهنية نحن هنا من أجلك. نحن نوفر خدمات إدارة اتصالاتك مما يتيح لك الفرصة لإدارة أعمالك بهدوء. ولو حدث وأن قررت توسيع نطاق شركتك والانتقال إلى مقر فعلي، يمكننا توفير مكتب مجهز للعمل بسهولة.
              </br>
              </p>

              <p>
                <strong>
                  اضغط أدناه للاطلاع على أنواع الحزم المختلفة واغتنم الفرصة بالحصول على عروضنا السنوية!
                </strong>
              </p>

            </div>
          </div>
          <!--/First row-->

          <div id="cms" class="mr-lg-5 mr-md-2 pl-lg-5 mt-3" style="width:100%">
          <div id="accordion">
            <div class="card mb-3">
              <div class="card-header feature-title" id="headingOne">
                <h5 class="mb-1">
                  <h5 class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong >سي إم إس بريد إلكتروني </strong>
                  </h5>
                </h5>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
 	                <strong>
                    375 درهم شهرياً
                  </strong></br></br>
                  <p>
                    احصل على عنوان لشركتك في موقع سيجنتشر الراقي ودعنا ندير مشكلة استلام البريد.
                  </p>

                    <!-- <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      Prestigious address at The Burj Al Salam, Dubai
                    </p> -->
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      صندوق بريد مشمول
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      اشترك لمدة 12 شهرًا وادفع مقابل 10 أشهر فقط!
                    </p>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-header feature-title" id="headingTwo">
                <h5 class="mb-1">
                  <h5 class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <strong>
                        سي إم إس هاتف وفاكس
                      </strong>
                  </h5>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
		                <strong>
                      425 درهماً شهرياً
                    </strong> </br></br>
                  <p>
                    دع موظفي الاستقبال المحترفين والمهذبين في سيجنتشر يتعاملون مع مكالماتك وفاكساتك.
                  </p>

                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      خدمة الرد على الهاتف كاملة
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      خدمات فاكس كاملة
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      اشترك لمدة 12 شهرًا وادفع مقابل 10 أشهر فقط!
                    </p>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-header feature-title" id="headingThree">
                <h5 class="mb-1">
                  <h5 class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <strong>
                      سي إم إس هاتف وصندوق بريد
                    </strong>
                  </h5>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
		                <strong>
                      575 درهماً شهرياً
                    </strong></br></br>
                  <p>
                    دع موظفي الاستقبال المحترفين والمهذبين في سيجنتشر يتعاملون مع مكالماتك وفاكساتك.
                  </p>

                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      عنوان مرموق في برج السلام ، دبي
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      خدمة الرد على الهاتف كاملة
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      خدمات فاكس كاملة
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      صندوق بريد مشمول
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      اشترك لمدة 12 شهرًا وادفع مقابل 10 أشهر فقط!
                    </p>
                </div>
              </div>

            </div>
            <div class="card mb-3">
              <div class="card-header feature-title" id="headingFour">
                <h5 class="mb-1">
                  <h5 class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <strong>
                      سي إم إس بلس
                    </strong>
                  </h5>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
		                <strong>
                      775 درهمًا شهريًا
                    </strong> </br></br>
                  <p>
                    عنوان في برج السلام مع جميع مزايا موظفي الاستقبال المحترفين لدينا
                  </p>

                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      خدمة الرد على الهاتف كاملة
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      خدمات فاكس كاملة
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      عنوان مرموق في برج السلام ، دبي
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      صندوق بريد مشمول
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      5 أيام من وقت محطة العمل في الشهر
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      استخدام غرفة اجتماعات سيجنتشر لمدة 4 ساعات في الشهر
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      اشترك لمدة 12 شهرًا وادفع مقابل 10 أشهر فقط!
                    </p>
                </div>
              </div>

            </div>
            <div class="card mb-3">
              <div class="card-header feature-title" id="headingFive">
                <h5 class="mb-1">
                  <h5 class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <strong>
                      مساحة عمل مشتركة
                    </strong>
                  </h5>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">

                <div class="card-body">
			               <strong>
                       1500 درهم شهريًا
                     </strong> </br></br>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      خط هاتف مخصص
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      طباعة / مسح غير محدودة
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      استخدام غرفة اجتماعات سيجنتشر لمدة 4 ساعات في الشهر
                    </p>
                </div>
              </div>

            </div>
            <div class="card mb-3">
              <div class="card-header feature-title" id="headingSix">
                <h5 class="mb-1">
                  <h5 class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <strong>
                      مكتب استدامة
                    </strong>
                  </h5>
                </h5>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
 		               <strong>
                     1900 درهم شهريًا
                   </strong></br></br>
                  <p><i class="far fa-check-square grey-text"></i>&nbsp;
                    خط هاتف مخصص
                  </p>
                  <p><i class="far fa-check-square grey-text"></i>&nbsp;
                    طباعة / مسح غير محدودة
                  </p>
                  <p><i class="far fa-check-square grey-text"></i>&nbsp;
                    استخدام غرفة اجتماعات سيجنتشر لمدة 4 ساعات في الشهر
                  </p>
                </div>
              </div>

            </div>
            <div class="card mb-3">
              <div class="card-header feature-title" id="headingSeven">
                <h5 class="mb-1">
                  <h5 class="collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    <strong>
                      مكتب استدامة مع رخصة تجارية
                    </strong>
                  </h5>
                </h5>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                <div class="card-body">
			               <strong>
                       2950 درهم شهريًا
                     </strong></br></br>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      رسوم التأسيس
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      رخصة مهنية من دائرة التنمية الاقتصادية
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      وكيل خدمة محلي
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      مساحة عمل مشتركة مخصصة
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      خط هاتف مخصص ، يجيب عليه فريق الاستقبال الناطق باللغة الإنجليزية الاصلية أثناء ساعات العمل
                    </p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;
                      استخدام غرفة اجتماعات سيجنتشر لمدة 6 ساعات في الشهر
                    </p>
                </div>
              </div>

            </div>
          </div>
	       </div>

        </div>
        <!--/Grid column-->

        <!--Grid column-->
          <div class="col-lg-2 col-md-12">
            <div class="card rounded p-3">
            <!--First row-->
            <div class="row">

              <div class="col-12 text-center justify-content-center">
                <a href="" data-toggle="modal" data-target="#message">  <h5 class="mb-3 feature-title black-text"><strong>
                تواصل معنا
                </strong></h5>
                <i class="mb-3 fas fa-phone sd-bar-icons"></i> <a/>
                <p class="mb-3 grey-text">
                  اتصل بنا اليوم لمعرفة كيف يمكن لـ نحن أن يساعد عملك في دبي.
                </p>
                <a data-toggle="modal" data-target="#message" class="mb-3 btn btn-blue btn-sm rounded p-2">
                تواصل معنا
                </a>
              </div>
            </div>
            <!--/First row-->
            <!-- Second Row -->
            <div class="row">

              <div class="col-12 text-center">
                <hr class="my-3">
                <a href="/ar/setup"> <h5 class="mb-3 feature-title black-text"><strong>
                   تأسيس الشركات
                </strong></h5>
                <i class="mb-3 fas fa-key sd-bar-icons"></i> </a>
                <p class="mb-3 grey-text">
                  مع خبرة أكثر من 17 سنوات في سوق دبي حتما سنساعدك في تأسيس شركتك.
                </p>
                <a target="" href="/ar/setup" class="mb-3 btn btn-blue btn-sm rounded p-2">
                  لمعرفة المزيد
                </a>
              </div>
            </div>

            <!-- Second Row -->

            <!-- Third Row -->


            <div class="row">

              <div class="col-12 text-center">
                <hr class="my-3">
                <a href="/ar/offices"> <h5 class="mb-3 feature-title black-text">
                <strong>
                  مركز الإمضاء لخدمات الأعمال
                </strong></h5>
                <i class="mb-3 fas fa-key sd-bar-icons"></i> </a>
                <p class="mb-3 grey-text">
                  مع خبرة أكثر من 17 سنوات في سوق دبي حتما سنساعدك في تأسيس شركتك.
                </p>
                <a target="" href="/ar/offices" class="mb-3 btn btn-blue btn-sm rounded p-2">
                    لمعرفة المزيد
                </a>
              </div>
            </div>
            <!-- Third Row -->
            </div>
          </div>
          <!--/Grid column-->

          </div>
      </div>
