
  <div class=" my-5 p-5 text-right">


          <!--Grid row-->
      <div class="row mt-5">

        <!--Grid column-->
        <div id="faq" class="col-lg-10 col-md-12">
          <div>
            <h3 class="mb-3"><strong>
              الأسئلة الشائعة
            </strong></h3>
            <!-- <p class="mb-3 grey-text">
              Click on any of your questions below to see the answer. Like what you see? Well, Contact Us to arrange a hassle-free consultation.
            </p> -->
          </div>
          <!--First row-->
          <div class="row">
            <div class="col-12">
              <h5 class="feature-title p-3 rounded"><strong>
                المكاتب المجهزة للعمل
              </strong></h5>
              <div id="accordion1">
                <div class="">
                  <div class="card-header bg-white" id="headingOne">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <strong>
                          ما أنواع المكاتب المجهزة للعمل المتوفرة لديكم؟
                        </strong>
                      </h6>
                    </h6>
                  </div>

                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1">
                    <div class="card-body">
                      <p>
                        تتوفر لدينا مكاتب مجهزة للعمل ومفروشة كليا من مساحة تكفي لمكتب تنفيذي واحد وحتى مساحة تسع عشرة مكاتب.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingTwo">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <strong>
                            ماذا يتضمن سعر المكاتب المجهزة للعمل؟
                          </strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion1">
                    <div class="card-body">
                      <p>
                        يتضمن السعر العديد من المزايا حيث أننا نحرص على ارضاء عملائنا بدون أي تكاليف إضافية. عند حجزك لأحد المكاتب المجهزة للعمل ستكون جميع الأجهزة والأدوات المكتبة تحت يديك ومجانا. أيضا يمكنك استخدام غرفة الاجتماعات وآلة القهوة (من نيسبرسو أو ايلي). لن نغرمك أي دفعات إضافية إلا عندما نحصل على موافقتك.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingThree">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>
                          ما سرعة الانترنت لديكم؟
                        </strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion1">
                    <div class="card-body">
                      <p>
                        نوفر أسرع باقات الانترنت المقدمة بدون أي قيود للاستخدام أي بدون أي تكاليف إضافية.
                      </p>
                    </div>
                  </div>

                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingFour">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>
                          ماهي شروط الدفع؟ هل هناك دفعة أولية قبل الاستخدام؟
                        </strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion1">
                    <div class="card-body">
                      <p>
                        يمكنك الدفع شهريا أو كل ثلاثة أشهر أو سنويا. لا يوجد دفعة أولية في أي من باقتنا لكننا نطلب وديعة مالية بقيمة شهر واحد قابلة للاسترداد بالكامل.
                      </p>

                    </div>
                  </div>

                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingFive">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <strong>
                          هل يمكنني استخدام مكاتبكم لشهر واحد فقط بينما أنا في دبي للعمل؟
                        </strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion1">
                    <div class="card-body">
                        <p>
                          بالطبع يمكنك ذلك، اتصل بنا لنرى مالمتوفر لدينا.
                        </p>
                    </div>
                  </div>

                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingSix">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <strong>أنا مشغول جدا، هل بإمكانكم تجهيز مكتبي بالنيابة؟</strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion1">
                    <div class="card-body">
                      <p>
                        بالطبع يمكننا تجهيز مكتبك بالكامل لتبدأ عملك مباشرةً. كل ما عليك فعله هو ربط كمبيوترك وتجهيز قهوتك الصباحية! نحن هنا لمساعدتك في إدارة عملك بكل أريحية من الرد على مكالماتك وحتى تجهيز أوراقك ومستنداتك.
                      </p>

                    </div>
                  </div>

                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingSeven">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <strong>
                          هل المكاتب المجهزة للعمل أغلى من مكتبي الخاص؟
                        </strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion1">
                    <div class="card-body">
                        <p>
                          قطعا لا! عند حساب تكاليف استئجار مكتبك الخاص (الانترنت، سكرتارية، أدوات مكتبية..إلخ) وتكاليف المكاتب المجهزة للعمل ستكون الثانية الخيار الأفضل والأوفر.
                        </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!--/First row-->

          <!-- Second Row -->
          <div class="row">
            <div class="col-12">
              <h5 class="feature-title p-3 rounded"><strong>
                تأسيس الشركات
              </strong></h5>
              <div id="accordion2">
                <div class="">
                  <div class="card-header bg-white" id="headingOne1">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                        <strong>
                          ما نوع الشركات التي تساعدون في تأسيسها؟
                        </strong>
                      </h6>
                    </h6>
                  </div>

                  <div id="collapseOne1" class="collapse" aria-labelledby="headingOne1" data-parent="#accordion2">
                    <div class="card-body">
                      <p>
                        باستطاعتنا تأسيس ثلاثة أنواع من الشركات القائمة في دبي تحت دائرة التنمية الاقتصادية:
                      </p>
                        <ul>
                          <li>رخصة فرع لشركة عالمية</li>
                          <li>رخصة شركة مهنية</li>
                          <li>رخصة شركة ذات مسؤولية محدودة</li>
                        </ul>
                      <p>
                        يجب على جميع المؤسسات المسجلة في امارة دبي الحصول على مكاتب في امارة دبي، وسنقدم ذلك كجزء من الباقة الشاملة الموفرة لدينا.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingTwo2">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                          <strong>
                            كيف يمكنني التأكد من الأفضل لأعمالي؟
                          </strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordion2">
                    <div class="card-body">
                      <p>
                        نحن هنا في الإمضاء نتفهم أن الأعمال مختلفة وسنقدم لك المساعدة اللازمة لتقرير نوع شركتك ورخصتك. خبرتنا تمتد لأكثر من 25 عام من تأسيس الشركات في امارة دبي وخبرة أكثر من 10 أعوام من تقديم خدمات المكاتب المجهزة للعمل
                      </p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingThree">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                        <strong>
                          كيف يمكنني معرفة المزيد؟
                        </strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseThree3" class="collapse" aria-labelledby="headingThree3" data-parent="#accordion2">
                    <div class="card-body">
                      <p>
                        .يمكنك الاتصال بنا على
                        <bdo dir="ltr"><a href="tel:+97143116500">+9714 311 6500</a><bdo>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Second Row -->

          <!-- Third Row -->
          <div class="row">
            <div class="col-12">
              <h5 class="feature-title p-3 rounded"><strong>
                خدمات إدارة الاتصالات
              </strong></h5>
              <div id="accordion3">
                <div class="">
                  <div class="card-header bg-white" id="headingOnei">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseOnei" aria-expanded="true" aria-controls="collapseOnei">
                        <strong>
                          لماذا أختار خدمات إدارة الاتصالات؟
                        </strong>
                      </h6>
                    </h6>
                  </div>

                  <div id="collapseOnei" class="collapse" aria-labelledby="headingOnei" data-parent="#accordion3">
                    <div class="card-body">
                      <p>
                        ستعطيك خدمات إدارة الاتصالات فرصة أفضل لترك انطباع جيد لدى عملائك حيث لا يجب عليك دائما الإجابة على الاتصالات بنفسك.، حيث سيدير فريق السكرتارية لدينا اتصالاتك بكل مهنية وحسب تعليماتك.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingTwoii">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseTwoii" aria-expanded="false" aria-controls="collapseTwoii">
                          <strong>
                            ما سرعة تفعيل خدمات إدارة الاتصالات؟
                          </strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseTwoii" class="collapse" aria-labelledby="headingTwoii" data-parent="#accordion3">
                    <div class="card-body">
                      <p>
                        سيتم تفعيل الخدمات خلال 24 ساعة حيث سيتم الرد على جميع مكالماتك باسم شركتك وتبعا لتعليماتك.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingThreeiii">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseThreeiii" aria-expanded="false" aria-controls="collapseThreeiii">
                        <strong>
                          ماذا لو أردت الترقية من خدمات إدارة الاتصالات إلى المكاتب المجهزة للعمل؟
                        </strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseThreeiii" class="collapse" aria-labelledby="headingThreeiii" data-parent="#accordion3">
                    <div class="card-body">
                      <p>
                        سهل جدا! كل ما عليك فعله هو الاتصال بنا وسنسعى إلى تسهيل عملية انتقالك بدون أي زيادات مالية مخفية.
                      </p>
                    </div>
                  </div>

                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingFouriv">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseFouriv" aria-expanded="false" aria-controls="collapseFouriv">
                        <strong>
                          من سيجيب على الاتصالات الواردة لشركتي؟
                        </strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseFouriv" class="collapse" aria-labelledby="headingFouriv" data-parent="#accordion3">
                    <div class="card-body">
                      <p>
                        سيجيب عليها فريق السكرتارية المتقن للغة الانجليزية باسم شركتك وسيدير جميع اتصالات بمهنية عالية.
                      </p>
                    </div>
                  </div>

                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingFivev">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseFivev" aria-expanded="false" aria-controls="collapseFivev">
                        <strong>
                          هل يمكن استخدام خدمات إدارة الاتصالات لتتبع طلب الترخيص التجاري أو تجديده؟
                        </strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseFivev" class="collapse" aria-labelledby="headingFivev" data-parent="#accordion3">
                    <div class="card-body">
                        <p>
                          للأسف أن خدمات إدارة الاتصالات ليست لتخصيص مساحة مدرجة تجاريا فقط، يمكنك زيارة موقع دائرة الاتنمية الاقتصادية في دبي للمزيد من المعلومات
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-12">
          <div class="card rounded p-3">
          <!--First row-->
          <div class="row">

            <div class="col-12 text-center justify-content-center">
              <a href="" data-toggle="modal" data-target="#message">  <h5 class="mb-3 feature-title black-text"><strong>
              تواصل معنا
              </strong></h5>
              <i class="mb-3 fas fa-phone sd-bar-icons"></i> <a/>
              <p class="mb-3 grey-text">
                اتصل بنا اليوم لمعرفة كيف يمكن لـ نحن أن يساعد عملك في دبي.
              </p>
              <a data-toggle="modal" data-target="#message" class="mb-3 btn btn-blue btn-sm rounded p-2">
              تواصل معنا
              </a>
            </div>
          </div>
          <!--/First row-->
          <!-- Second Row -->
          <div class="row">

            <div class="col-12 text-center">
              <hr class="my-3">
              <a href="/ar/setup"> <h5 class="mb-3 feature-title black-text"><strong>
                 تأسيس الشركات
              </strong></h5>
              <i class="mb-3 fas fa-key sd-bar-icons"></i> </a>
              <p class="mb-3 grey-text">
                مع خبرة أكثر من 17 سنوات في سوق دبي حتما سنساعدك في تأسيس شركتك.
              </p>
              <a target="" href="/ar/setup" class="mb-3 btn btn-blue btn-sm rounded p-2">
                لمعرفة المزيد
              </a>
            </div>
          </div>

          <!-- Second Row -->

          <!-- Third Row -->


          <div class="row">

            <div class="col-12 text-center">
              <hr class="my-3">
              <a href="/en/offices"> <h5 class="mb-3 feature-title black-text">
              <strong>
                مركز الإمضاء لخدمات الأعمال
              </strong></h5>
              <i class="mb-3 fas fa-key sd-bar-icons"></i> </a>
              <p class="mb-3 grey-text">
                مع خبرة أكثر من 17 سنوات في سوق دبي حتما سنساعدك في تأسيس شركتك.
              </p>
              <a target="" href="/ar/offices" class="mb-3 btn btn-blue btn-sm rounded p-2">
                  لمعرفة المزيد
              </a>
            </div>
          </div>
          <!-- Third Row -->
          </div>
        </div>
          <!--/Grid column-->


      </div>
  </div>
