<!-- Modal - Promo -->

 <div id="promo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
       <!-- <div class="modal-header"> -->
         <!-- <h4 class="modal-title" id="exampleModalCenterTitle"><strong>Leave a Message</strong></h4> -->
         <p class="close  text-right pr-2 my-0" data-dismiss="modal" aria-label="Close">
           <span id="close-btn" class="black-text" aria-hidden="true">&times;</span>
         </p>
       <!-- </div> -->
        <!-- <div class="modal-body">
          <img src="img/logo.png">

          <p>You can enter promotional material here</p>
          <p>You can enter promotional material here</p>
          <p>You can enter promotional material here</p>
          <p>You can enter promotional material here</p>
          <p>You can enter promotional material here</p>

     </div> -->
   </div>
 </div>
</div>
<!-- Modal -Promo -->




<!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">



    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view" style="background-image: url('img/alsalamnight.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div id="front-content" class="text-center white-text wow fadeIn">
              <h1 class="mb-4">
                <strong>
              مكتب الخدمات المتاحة
                </strong>
              </h1>

              <!-- <p>
                <strong>Signature offers professional, one-stop business solutions for all types of businesses.</strong>
              </p> -->

              <h5 class="mb-3">
                تقع مكاتبنا في قلب مدينة دبي بمبنى مكاتب فندق الفيرمونت وذلك لمساعدتك على التنقل بسهولة لتسريع ازدهار أعمالك
              </h5>

              <a class="btn btn-outline-white btn-md rounded" data-toggle="modal" data-target="#message">
                <span style="font-size:16px;">
                اتصل بنا
                <!-- &nbsp; &nbsp;<i class="far fa-envelope mr-"></i> -->
              </span></a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('img/alsalamday.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div id="front-content" class="text-center white-text wow fadeIn">
              <h1 class="mb-4">
                <strong>
                مكتب الخدمات المتاحة
                </strong>
              </h1>

              <!-- <p>
                <strong>Signature offers professional, one-stop business solutions for all types of businesses.</strong>
              </p> -->

              <h5 class="mb-3">
                تقع مكاتبنا في قلب مدينة دبي بمبنى مكاتب فندق الفيرمونت وذلك لمساعدتك على التنقل بسهولة لتسريع ازدهار أعمالك
              </h5>

              <a class="btn btn-outline-white btn-md rounded" data-toggle="modal" data-target="#message">
                <span style="font-size:16px;">
                اتصل بنا
                <!-- &nbsp; &nbsp;<i class="far fa-envelope mr-"></i> -->
              </span></a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('img/szrnight.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div id="front-content" class="text-center white-text wow fadeIn">
              <h1 class="mb-4">
                <strong>
                  مكتب الخدمات المتاحة
                </strong>
              </h1>

              <!-- <p>
                <strong>Signature offers professional, one-stop business solutions for all types of businesses.</strong>
              </p> -->

              <h5 class="mb-3">
                تقع مكاتبنا في قلب مدينة دبي بمبنى مكاتب فندق الفيرمونت وذلك لمساعدتك على التنقل بسهولة لتسريع ازدهار أعمالك
              </h5>

              <a class="btn btn-outline-white btn-md rounded" data-toggle="modal" data-target="#message">
                <span style="font-size:16px;">
                اتصل بنا
                <!-- &nbsp; &nbsp;<i class="far fa-envelope mr-"></i> -->
              </span></a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Third slide-->

    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

  </div>
  <!--/.Carousel Wrapper-->

<!-- Section 2 -->
  <div class="px-5 my-3">

    <!--Section: Main features & Quick Start-->
    <section id="about">

      <h3 class="h3 text-center pt-1">
      خدماتنا
      </h3>

      <!--Grid row-->
      <div class="row wow fadeIn">

      <!--Grid column-->
        <div class="col-lg-4 col-md-12">
              <hr class="my-4">
          <!--First row-->
          <div class="row">
            <div class="col-12 text-center">
              <h5 class="mb-3 feature-title"><strong>
              خدمات إدارة الاتصالات
              </strong></h5>
              <img class="mb-3" src="img/cms_1.png"></img>
              <p class="mb-3 grey-text">

          نقدم أيضا خدمات إدارة طرق التواصل المختلفة لمساعدتك على تلبية جميع احتياجات شركتك براحة بال.

              </p>

              <a target="" href="/ar/cms" class="mb-5 btn btn-blue btn-md rounded px-3" style="font-size:16px;">
             اقرأ المزيد
                </a>
            </div>
          </div>
          <!--/First row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
          <div class="col-lg-4 col-md-12">
              <hr class="my-4">
            <!--First row-->
            <div class="row">

              <div class="col-12 text-center">
                <h5 class="mb-3 feature-title">
                <strong>
                    تأسيس الشركات
                </strong></h5>
                <img class="mb-3" src="img/business_setup.png"></img>
                <p class="mb-3 grey-text">
                    واء كنت شركة حديثة أو تتطلع إلى التغيير أو تبحث عن إعادة هيكلة دعنا نساعدك في معرفة الطريق الصحيح لتأسيس أو لازدهار شركتك في دبي
                </p>
                <a target="" href="/ar/setup" class="mb-3 btn btn-blue btn-md rounded px-3" style="font-size:16px;">
                اقرأ المزيد
                </a>
              </div>
            </div>
            <!--/First row-->
          </div>
          <!--/Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 px-4">
                <hr class="my-4">
              <!--First row-->
              <div class="row">
                <div class="col-12 text-center">
                  <h5 class="mb-3 feature-title"><strong>مكاتب مجهزة للعمل</strong></h5>
                  <img class="mb-3" src="img/serviced_offices.png"></img>
                  <p class="mb-3 grey-text">
                      تقع مكاتبنا في قلب مدينة دبي بمبنى مكاتب فندق الفيرمونت وذلك لمساعدتك على التنقل بسهولة لتسريع ازدهار أعمالك
                  </p>

                  <a target="" href="/ar/offices" class="mb-5 btn btn-blue btn-md rounded px-3" style="font-size:16px;">اقرأ المزيد</a>
                </div>
              </div>
              <!--/First row-->

            </div>
            <!--/Grid column-->

      </div>
  </div>
<!-- Section 2 -->
