<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- <meta name="keywords" content="HTML, Web Applicaations, Online Software, CSS, Javascript, Website, Website Developer, Hosting, UAE Website, Website Support, Website Services, Online"> -->
  <meta name="description" content="فلسفتنا بسيطة في الإمضاء لخدمات الأعمال - معيارنا هو تقديم خدمة استثنائية">
  <title>من نحن</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <style type="text/css">
    html,
    body,
    header,
    .view {
      height: 100%;
    }

    @media (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 1000px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .view {
        height: 650px;
      }

    }
    @media (min-width: 800px) and (max-width: 850px) {
              .navbar:not(.top-nav-collapse) {
                  background: white!important;
              }
          }
  </style>


</head>
<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v6.0"></script>

  <!-- Navbar -->

  <nav class="navbar fixed-top navbar-expand-lg navbar-custom">
    <div id="top-row" class="w-100">
      <div class="row">
        <div class="text-white col-10 py-1 top-bar">
          <a href="mailto:info@signature.ae" class="white-text"><bdo dir="ltr"><marquee behavior="scroll" direction="right"> اشترك لمدة 12 شهرًا وادفع مقابل 10 أشهر فقط!
              &nbsp;&nbsp;<span style="text-decoration: underline; font-size: 13px; font-weight: lighter">
              ارسل لنا عبر البريد الإلكتروني
            </span></marquee><bdo></a>
        </div>
        <div class="col-2 top-bar" >
            <a href="/en"><p class="float-left text-white py-1 pl-3">English</p></a>
        </div>

    </div>
    <div class="container pr-4 pl-0 col-12">


      <!-- Brand -->
      <a class="navbar-brand" href="/ar" target="">
        <img src="img/logo.png"></img>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:#0060af; font-size:28px;"></i></span>
      </button>


      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link font-weight-bold" href="/ar" >الصفحة الرئيسية
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link font-weight-bold" href="/ar/offices" target="">مكاتب مجهزة للعمل</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link font-weight-bold" href="/ar/setup" target="" >تأسيس الشركات</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link font-weight-bold" href="/ar/cms" target="" >خدمات إدارة الاتصالات</a>
          </li>
          <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link dropbtn font-weight-bold" href="" target="" >لمزيد من المعلومات</a>
            <div class="dropdown-content text-right pl-1 font-weight-bold">
                <a href="/ar/about">من نحن</a>
                <a href="/ar/testimonials">عملاؤنا</a>
                <a href="/ar/faqs">الأسئلة الشائعة</a>
            </div>
          </li>
        </ul>


      </div>

    </div>
  </div>
  </nav>
  <!-- Navbar -->

<!-- Modal - Other -->

 <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span id="close-btn" class="white-text" aria-hidden="true">&times;</span>
         </button>
         <h4 class="modal-title" id="exampleModalCenterTitle"><strong>
           اترك رسالة
         </strong></h4>


       </div>
        <div class="modal-body text-right">
          <!-- Form -->
          <form name="" method="post" action="/ar/contactsubmit">
            <div class="md-form mt-4">
              <i class="fas fa-user prefix grey-text"></i>
              <input type="text" id="form3" class="form-control py-2 px-3 mr-4" name="name" placeholder="اسمك" required>
              <!-- <label for="form3">Your name</label> -->
            </div>
            <div class="md-form">
              <i class="fas fa-envelope prefix grey-text"></i>
              <input type="email" id="form2" class="form-control py-2 px-3 mr-4" name="email" placeholder="بريدك الالكتروني" required>
              <!-- <label for="form2">Your email</label> -->
            </div>

            <div class="md-form">
              <i class="fas fa-phone prefix grey-text"></i>
              <input type="text" id="form2" class="form-control py-2 px-3 mr-4" name="phoneNumber"placeholder="رقم الهاتف" required>
              <!-- <label for="form2">Your email</label> -->
            </div>

            <div class="md-form mb-0">
              <i class="fas fa-pencil-alt prefix grey-text"></i>
              <textarea type="text" id="form8" class="md-textarea py-2 px-3 mr-4" name="message" placeholder="رسالة" required></textarea>
              <!-- <label for="form8">Your message</label> -->
            </div>
          </br>
            <div class="text-center">
              <button class="btn btn-sm btn-blue" type="submit" value="submit">إرسال</button>
              <hr>
              <p>
                اتصل بنا
                &nbsp;
                <bdo dir="ltr"><a href="tel:+97143116500">+9714 311 6500</a><bdo>
              </p>
            </div>

          </form>
          <!-- Form -->
     </div>
   </div>
 </div>
</div>
<!-- Modal -Other -->


  <%- body %>


  <!--Footer-->
  <footer class="page-footer text-center font-small wow fadeIn">

    <!-- Social icons -->
    <!-- <div class="pb-4 py-3">
      <a href="" target="">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="/" target="" data-toggle="modal" data-target="#other">
      <i class="far fa-envelope mr-3"></i>
      </a>

      <a href="" target="">
        <i class="fab fa-whatsapp"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href="https://dribbble.com/mdbootstrap" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href="https://pinterest.com/mdbootstrap" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="http://codepen.io/mdbootstrap/" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div> -->
    <!-- Social icons -->

    <!-- Section 2 -->


        <!--Section: Main features & Quick Start-->
        <div>


          <!--Grid row-->
          <div class="row wow fadeIn m-0">

            <!--Grid column-->
            <div class="col-lg-4 col-sm-12 px-4 pr-5">
                <hr class="my-4">
              <!--First row-->
              <div class="row">
                <div class="col-12 text-right">
                  <h6 class="mb-3"><strong>
                    تواصل معنا
                  </strong></h6>
                  <p class="mb-3 grey-text" dir="rtl">
                    سواء كنت صاحب شركة صغيرة أو متوسطة أو حتى كبيرة سنوفر لك جميع الحلول لتسهيل إدارة أعمالك.
                  </p>
                  <p class="grey-text"><a href="tel:+97143116500" class="grey-text"><i class="fas fa-phone"></i>&nbsp;<bdo dir="ltr"> +9714 311 6500 </bdo></a></p>
                  <p class="grey-text"><a href="mailto:info@signature.ae" class="grey-text"><i class="far fa-envelope"></i>&nbsp; info@signature.ae </a></p>
                  <h6><strong>موقعنا</strong></h6>
                  <p class="grey-text">برج السلام </br> الطابق 25 </br> شارع الشيخ زايد ، دبي </p>
                  <h6><strong>تابعنا</strong></h6>
                  <div id="sm-icons" class="pb-4">
                    <a href="http://www.facebook.com/pages/Signature/364761476378" target="_blank"><i class="fab fa-facebook-f p-2"></i></a>
                    <a href="http://www.twitter.com/SignatureDXB" target="_blank"><i class="fab fa-twitter p-2"></i><a/>
                    <a href="http://www.youtube.com/watch?v=SPpW0PV85YQ" target="_blank"><i class="fab fa-youtube p-2"></i></a>
                  </div>

                </div>
              </div>
              <!--/First row-->

            </div>
            <!--/Grid column-->

            <!--Grid column-->
              <div class="col-lg-4 col-sm-12 pr-5">
                  <hr class="my-4">
                <!--First row-->
                <div class="row">

                  <div class="col-12 text-right">
                  <h6 class="mb-3"><strong>زيارتنا في دبي</strong></h6>
                  <!-- <iframe class="align-center" src="https://goo.gl/maps/YSi7qkaubPV5xg9S9" width="90%" height="300" frameborder="1" style="border:0; border-radius: 5px;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe> -->
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3609.2150269360727!2d55.28868852012306!3d25.229681583959948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f42ef4bcbda43%3A0x996608a1fcf77669!2zQnVyaiBBbCBTYWxhbSAtIDZ0aCBTdCAtINiv2KjZig!5e0!3m2!1sar!2sae!4v1587901018280!5m2!1sar!2sae" width="90%" height="300" frameborder="1" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
                </div>
              </div>
                <!--/First row-->
              </div>
              <!--/Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-sm-12 pr-5">
                      <hr class="my-4">
                  <!--First row-->
                  <div class="row">
                    <div class="col-12 text-right">
                      <h6 class="mb-3"><strong>  اتصل بنا </strong></h6>
                      <form id="contact-form" class="bg-white p-3 rounded mb-5" name="" method="post" action="/ar/contactsubmit">

                        <div class="md-form mt-1">
                          <i class="fas fa-user prefix grey-text"></i>
                          <input type="text" id="form3" class="form-control pt-0 mr-4" name="name" placeholder="اسمك" required>
                          <!-- <label for="form3">Your name</label> -->
                        </div>
                        <div class="md-form">
                          <i class="fas fa-envelope prefix grey-text"></i>
                          <input type="email" id="form2" class="form-control pt-0 mr-4" name="email" placeholder="بريدك الالكتروني" required>
                          <!-- <label for="form2">Your email</label> -->
                        </div>

                        <div class="md-form">
                          <i class="fas fa-phone prefix grey-text"></i>
                          <input type="text" id="form2" class="form-control pt-0 mr-4" name="phoneNumber" placeholder="رقم الهاتف" required>
                          <!-- <label for="form2">Your email</label> -->
                        </div>

                        <div class="md-form mb-0">
                          <i class="fas fa-pencil-alt prefix grey-text"></i>
                          <textarea type="text" id="form8" class="md-textarea pt-0 mr-4" name="message" placeholder="رسالة" required></textarea>
                          <!-- <label for="form8">Your message</label> -->
                        </div>

                        <div class="text-center">
                          <button class="btn btn-sm btn-blue" type="submit" value="submit">إرسال</button>
                          <hr>

                        </div>

                      </form>
                    </div>
                  </div>
                  <!--/First row-->
                </div>
                <!--/Grid column-->

          </div>
        </div>

    <!-- Section 2 -->




    <!--Copyright-->
   <div class="footer-copyright py-3">
     <p>حقوق الطبع والنشر محفوظ&nbsp;&copy;
     <script>document.write(new Date().getFullYear());</script>&nbsp;&nbsp; الإمضاء لخدمات الأعمال
     <a href="/" target=""> </a></p>
   </div>
   <!--/.Copyright-->

 </footer>
<!--/.Footer-->

    <!-- Floating Action Button -->
    <bdo dir="ltr"><div id="fabmenu">
    <a href="#" class="float" id="menu-share">
    <i class="fa fa-comment my-float"></i>
    </a>
    <ul>
    <li><a target="_blank" href="https://m.me/signaturedxb">
    <i class="fab fa-facebook-messenger my-float"></i>
    </a></li>
    <li><a target="_blank" href="https://wa.me/97143116500">
    <i class="fab fa-whatsapp my-float"></i>
    </a></li>
    <!-- <li><a href="#">
    <i class="fa fa-twitter my-float"></i>
    </a></li> -->
  </ul>
    </div></bdo>
    <!-- Floating Action Button -->


    <!-- <script type="text/javascript">
        $(document).ready(function () {
            $('a[href^="#"]').on('click', function (e) {
                e.preventDefault();

                var target = this.hash;
                var $target = $(target);

                $('html, body').stop().animate({
                    'scrollTop': $target.offset().top - 150
                }, 1000, 'swing', function () {
                    window.location.hash = target - 150;
                });
            });
        });
    </script> -->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/js/mdb.min.js"></script>
     <!-- Initializations -->
     <!-- <script type="text/javascript">
       // Animations initialization
       new WOW().init();
     </script> -->

     <!-- Modal on Load -->
     <!-- <script type="text/javascript">
     $(window).on('load',function(){
         $('#promo').modal('show');
     });
     </script> -->
     <!-- Modal on Load -->

     <!-- Modal on Load Once Per Day-->
      <!-- <script>
        $(window).on('load',function(){
        if (document.cookie.indexOf('visited=true') == -1){

          $('#promo').modal({show:true});
          var day = 1000*60*60*24;
          var expires = new Date((new Date()).valueOf() + day);
          document.cookie = "visited=true;expires=" + expires.toUTCString();
          }
        });
      </script> -->
      <!-- Modal On Load Once Per Day-->


</body>

</html>
