
  <div class=" my-5 p-5 text-right">


          <!--Grid row-->
      <div class="row mt-5">

        <!--Grid column-->
        <div class="col-lg-10 col-md-12">
<!--
          <div class="mx-0 px-0 ">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white pl-0">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
          </nav>
          </div> -->

              <div>
                <h3><strong>
                  عملاؤنا
                </strong></h3>
                <p>
                  اقرأ آراء عملائنا بخدماتنا.
                </p>
              </div>

          <div>
            <div class="p-4 p-md-5 text-black">
              <div class="row px-0 bg-white">
                <div class="col-lg-6 col-md-12 pt-3 text-center">
                  <img class="img-fluid" src="img/herman_miller.jpg">
                </div>
                <div class="col-lg-6 col-md-12 pt-3 px-0">
                  <h3>
                    هيرمن ميلير
                  </h3>
                  <p class="font-italic">
                    "طلبنا من مركز الإمضاء توفير 20 مكتب مجهز للعمل في فترة قصيرة جدا، وبعد مشاورات وفر المركز 20 مكتب مجهز للعمل بسعر معقول ومناسب. وعمل فريق العمل في العطلة الأسبوعية للتأكد من انتقالنا للمكاتب بكل سلاسة وأريحية. الموقع مناسب لجميع موظفي الشركة وفريق الدعم جاهز للمساعدة في أي لحظة.".
                  </br>
                  <p class="grey-text">
                    روبيرت كيدي - المدير الاقليمي، الشرق الأوسط وشمال افريقيا
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="p-4 p-md-5 text-black">
              <div class="row px-0 bg-white">
                <div class="col-lg-6 col-md-12 pt-3">
                  <h3>
                    أب سايد
                  </h3>
                  <p class="font-italic">
                  "تأسست شركة اب سايد لإدارة مشاريع النفط والغاز عام 2010 في دبي. كان علينا أن ننتقل إلى مكاتب جديدة نهاية ذلك العام. بداية وقعنا عقد مؤقت لتأجير مكاتب مجهزة للعمل مع مركز الإمضاء والآن نحن في سنتنا الثالثة معهم. يرضي مركز الإمضاء جميع احتياجاتنا من موقعه المميز وحتى الدعم الفني المناسب لجميع مشاريعنا المحلية والعالمية. نحن نوصي وبشدة بهذا المركز الرائع لجميع الشركات الصغيرة الحجم والتي تطمح إلى توسيع أعمالها في بيئة ودية ومهنية في آن واحد. لا نخطط إلى الانتقال من هنا في أي وقت قريب!"
                  </br>
                  <p class="grey-text">
                    اندرو موريسن - المدير التنفيذي
                  </p>
                </div>
                <div class="col-lg-6 col-md-12 pt-3 text-center">
                  <img class="img-fluid" src="img/upsyde.jpg">
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="p-4 p-md-5 text-black">
              <div class="row px-0 bg-white">
                <div class="col-lg-6 col-md-12 pt-3 text-center">
                  <img class="img-fluid" src="img/pdl_logo.jpg">
                </div>
                <div class="col-lg-6 col-md-12 pt-3 px-0">
                  <h3>
                    بي دي إل الشرق الأوسط
                  </h3>
                  <p class="font-italic">
                "عملت مع فريق مركز الإمضاء لفترة طويلة. يتميز فريق السكرتارية بالمهنية والودية التي تساعدني على انجاز جميع المهام المكتبة من استقبال الاتصالات وحجز قاعات الاجتماعات وغيرها. يتحدث فريق خدمة العملاء وفريق السكرتارية اللغة الانجليزية بطلاقة. أيضا يتميز الموقع بوجوده في وسط مدينة دبي مما يتيح لي سهولة الاجتماع بالعملاء والموردين في بيئة مهنية. أوصي وبشدة بهذا المركز لكل من يبحث عن المهنية والحماس وفريق دعم رائع يساعدك على الارتقاء بعملك إلى المستوى التالي."
                  </br>
                  <p class="grey-text">
                    فؤاد محمودي - المدير العام
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="p-4 p-md-5 text-black">
              <div class="row px-0 bg-white">
                <div class="col-lg-6 col-md-12 pt-3">
                  <h3>
                    وينترهيل لارقو
                  </h3>
                  <p class="font-italic">
                    "يتميز فريق العمل في مركز الإمضاء بالمهنية والودية ليس فقط لعملائهم بل لعملاء عملائهم أيضا. نجد أن هذا المركز يوفر لنا البيئة المناسبة من ناحية المهنية والجدية في التعامل، بالاضافة إلى توفير جميع المعدات المكتبية واللوازم التشغيلية وغرف الاجتماعات. يجيب فريق الإمضاء على جميع اتصالاتنا على وجه السرعة والمهنية. أيضا يتم ايصال جميع الرسائل بوقت مناسب وقياسي. يساعد الجو المهني والودي في هذا المركز على تحسين علاقاتنا مع عملائنا. لن أتردد في التوصية وبشدة بهذا المركز لأي شركة تبحث عن بيئة مهنية مناسبة وفريق دعم محترف."
                  </br>
                  <p class="grey-text">
                    بيتر لازاروس - الشريك الإداري
                  </p>
                </div>
                <div class="col-lg-6 col-md-12 pt-3 text-center">
                  <img class="img-fluid" src="img/winterhill.jpg">
                </div>
              </div>
            </div>
          </div>



        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-12">
          <div class="card rounded p-3">
          <!--First row-->
          <div class="row">

            <div class="col-12 text-center justify-content-center">
              <a href="" data-toggle="modal" data-target="#message">  <h5 class="mb-3 feature-title black-text"><strong>
              تواصل معنا
              </strong></h5>
              <i class="mb-3 fas fa-phone sd-bar-icons"></i> <a/>
              <p class="mb-3 grey-text">
                اتصل بنا اليوم لمعرفة كيف يمكن لـ نحن أن يساعد عملك في دبي.
              </p>
              <a data-toggle="modal" data-target="#message" class="mb-3 btn btn-blue btn-sm rounded p-2">
              تواصل معنا
              </a>
            </div>
          </div>
          <!--/First row-->
          <!-- Second Row -->
          <div class="row">

            <div class="col-12 text-center">
              <hr class="my-3">
              <a href="/ar/setup"> <h5 class="mb-3 feature-title black-text"><strong>
                 تأسيس الشركات
              </strong></h5>
              <i class="mb-3 fas fa-key sd-bar-icons"></i> </a>
              <p class="mb-3 grey-text">
                مع خبرة أكثر من 17 سنوات في سوق دبي حتما سنساعدك في تأسيس شركتك.
              </p>
              <a target="" href="/ar/setup" class="mb-3 btn btn-blue btn-sm rounded p-2">
                لمعرفة المزيد
              </a>
            </div>
          </div>

          <!-- Second Row -->

          <!-- Third Row -->


          <div class="row">

            <div class="col-12 text-center">
              <hr class="my-3">
              <a href="/ar/offices"> <h5 class="mb-3 feature-title black-text">
              <strong>
                مركز الإمضاء لخدمات الأعمال
              </strong></h5>
              <i class="mb-3 fas fa-key sd-bar-icons"></i> </a>
              <p class="mb-3 grey-text">
                مع خبرة أكثر من 17 سنوات في سوق دبي حتما سنساعدك في تأسيس شركتك.
              </p>
              <a target="" href="/ar/offices" class="mb-3 btn btn-blue btn-sm rounded p-2">
                  لمعرفة المزيد
              </a>
            </div>
          </div>
          <!-- Third Row -->
          </div>
        </div>
          <!--/Grid column-->


      </div>
  </div>
