
<!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view" style="background-image: url('img/alsalamday.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('img/alsalamnight.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('img/szrnight.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">


          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Third slide-->

    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

  </div>
  <!--/.Carousel Wrapper-->



  <div class="px-5 my-5">


          <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-10 col-md-12">

          <!--First row-->
          <div class="row">
            <div class="col-12 text-left">
              <h3 class="mb-3 feature-title"><strong>Communications Management Services</strong></h3>
              <p class="mb-3 grey-text">Signature offers a unique Communications Management Services (CMS) which is designed to take care of your business communications.</p>
              <h5 class="mb-3 feature-title"><strong>Full Communications Management</strong></h5>
              <p class="mb-3 grey-text">If you are a busy sole operator who needs secretarial, administrative services and a professional voice to answer your phone; then Signature is the right place for you. We offer a CMS service which allows you to do what you do best - grow your business. In the future, if your business grows out of our CMS service offering, we can transfer you easily with no disruption to one of our serviced offices.</br> </p>

              <p><strong>Click on the packages below to see the inclusions, and the special offer for 1-year commitments!</strong></p>

            </div>
          </div>
          <!--/First row-->

          <div id="cms" class="ml-lg-5 ml-md-2 mt-3" style="width:90%">
          <div id="accordion">
            <div class="card mb-3">
              <div class="card-header feature-title" id="headingOne">
                <h5 class="mb-1">
                  <h5 class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong >CMS Mail</strong>
                  </h5>
                </h5>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
 	                <strong>AED 375 per month</strong></br></br>
                  <p>Get an address at Signature's prestigious location and let us manage the hassle of mail collection.</p>

                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Prestigious address at The Burj Al Salam, Dubai</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Post-Office Box included</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Sign up for 12 months and Pay for 10!</p>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-header feature-title" id="headingTwo">
                <h5 class="mb-1">
                  <h5 class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <strong >CMS Phone and Fax</strong>
                  </h5>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
		                <strong>AED 425 per month</strong> </br></br>
                  <p>Let Signature's professional and courteous reception staff handle your calls and faxes.</p>

                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Full telephone answering service</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Full fax services</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Sign up for 12 months and Pay for 10!</p>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-header feature-title" id="headingThree">
                <h5 class="mb-1">
                  <h5 class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <strong >CMS Phone and PO Box</strong>
                  </h5>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
		                <strong>AED 575 per month</strong></br></br>
                  <p>Let Signature's professional and courteous reception staff handle your calls and faxes.</p>

                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Prestigious address at The Burj Al Salam, Dubai</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Full telephone answering service</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Full fax services</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Post-Office Box included</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Sign up for 12 months and Pay for 10!</p>
                </div>
              </div>

            </div>
            <div class="card mb-3">
              <div class="card-header feature-title" id="headingFour">
                <h5 class="mb-1">
                  <h5 class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <strong >CMS Plus</strong>
                  </h5>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
		                <strong>AED 775 per month</strong> </br></br>
                  <p>An address at the Burj Al Salam with all the benefits of our professional reception staff.</p>

                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Prestigious address at The Burj Al Salam, Dubai</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Full telephone answering service</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Full fax services</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Post-Office Box included</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;5 days of Workstation time per month</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Use of Signature's Board Room for 4 hours per month</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Sign up for 12 months and Pay for 10!</p>
                </div>
              </div>

            </div>
            <div class="card mb-3">
              <div class="card-header feature-title" id="headingFive">
                <h5 class="mb-1">
                  <h5 class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <strong >Co-working Space</strong>
                  </h5>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">

                <div class="card-body">
			               <strong >AED 1,500 per month</strong> </br></br>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Dedicated Telephone Line</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Unlimited printing / scanning</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Use of Signature's Board Room for 4 hours per month</p>

                </div>
              </div>

            </div>
            <div class="card mb-3">
              <div class="card-header feature-title" id="headingSix">
                <h5 class="mb-1">
                  <h5 class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <strong >Sustainable Desk</strong>
                  </h5>
                </h5>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
 		               <strong>AED 1,900 per month</strong></br></br>
                  <p><i class="far fa-check-square grey-text"></i>&nbsp;Dedicated Telephone Line</p>
                  <p><i class="far fa-check-square grey-text"></i>&nbsp;Unlimited printing / scanning</p>
                  <p><i class="far fa-check-square grey-text"></i>&nbsp;Use of Signature's Board Room for 4 hours per month</p>
                </div>
              </div>

            </div>
            <div class="card mb-3">
              <div class="card-header feature-title" id="headingSeven">
                <h5 class="mb-1">
                  <h5 class="collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    <strong >Sustainable Desk Trade License Package</strong>
                  </h5>
                </h5>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                <div class="card-body">
			               <strong>AED 2,950 per month</strong></br></br>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Setup Fees</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;DED Professional Trade License</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Local Service Agent</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Dedicated Co-Working Space</p>
                    <p><i class="far fa-check-square grey-text"></i>&nbsp;Dedicated Telephone Line, answered by our native English speaking reception team during business hours</p>
                      <p><i class="far fa-check-square grey-text"></i>&nbsp;Use of Signature's Board Room for 6 hours per month</p>
                </div>
              </div>

            </div>
          </div>
	       </div>

        </div>
        <!--/Grid column-->

        <!--Grid column-->
          <div class="col-lg-2 col-md-12">
            <div class="card rounded p-3">
            <!--First row-->
            <div class="row">

              <div class="col-12 text-center justify-content-center">
                <a href="" data-toggle="modal" data-target="#message">  <h5 class="mb-3 feature-title black-text"><strong>Contact Us</strong></h5>
                <i class="mb-3 fas fa-phone sd-bar-icons"></i> <a/>
                <p class="mb-3 grey-text">Contact us today to find out how Signature can help your business in Dubai.</p>
                <a data-toggle="modal" data-target="#message" class="mb-3 btn btn-blue btn-sm rounded p-2">Contact Us</a>
              </div>
            </div>
            <!--/First row-->
            <!-- Second Row -->
            <div class="row">

              <div class="col-12 text-center">
                <hr class="my-3">
                <a href="/en/setup"> <h5 class="mb-3 feature-title black-text"><strong>Business Set-up?</strong></h5>
                <i class="mb-3 fas fa-key sd-bar-icons"></i> </a>
                <p class="mb-3 grey-text">With over 17 years experience in the Dubai market, Signature has the know-how to get your business started in Dubai.</p>
                <a target="" href="/en/setup" class="mb-3 btn btn-blue btn-sm rounded p-2">Find Out More</a>
              </div>
            </div>

            <!-- Second Row -->

            <!-- Third Row -->


            <div class="row">

              <div class="col-12 text-center">
                <hr class="my-3">
                <a href="/en/offices"> <h5 class="mb-3 feature-title black-text"><strong>Serviced Offices</strong></h5>
                <i class="mb-3 fas fa-key sd-bar-icons"></i> </a>
                <p class="mb-3 grey-text">With over 17 years experience in the Dubai market, Signature has the know-how to get your business started in Dubai.</p>
                <a target="" href="/en/offices" class="mb-3 btn btn-blue btn-sm rounded p-2">Find Out More</a>
              </div>
            </div>
            <!-- Third Row -->
            </div>
          </div>
          <!--/Grid column-->

          </div>
      </div>
