
  <div class=" my-5 p-5">


          <!--Grid row-->
      <div class="row mt-5">

        <!--Grid column-->
        <div id="faq" class="col-lg-10 col-md-12">
          <div>
            <h3 class="mb-3"><strong>Frequently Askes Questions</strong></h3>
            <p class="mb-3 grey-text">Click on any of your questions below to see the answer. Like what you see? Well, Contact Us to arrange a hassle-free consultation.</p>
          </div>
          <!--First row-->
          <div class="row">
            <div class="col-12 text-left">
              <h5 class="feature-title p-3 rounded"><strong>Serviced Offices</strong></h5>
              <div id="accordion1">
                <div class="">
                  <div class="card-header bg-white" id="headingOne">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <strong>What types of Serviced Offices do you have?</strong>
                      </h6>
                    </h6>
                  </div>

                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1">
                    <div class="card-body">
                      <p>Our fully furnished serviced offices range from a 1 person executive suite up to a 10-person shared office space.</p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingTwo">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <strong>What is included in the price for Serviced Offices?</strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion1">
                    <div class="card-body">
                      <p>What is not? At Signature we do not look for additional ways to charge our clients, all the office equipment and services are free to use for all tenants. Be it from the use of the meeting room to the Illy or Nespresso cappuccinos, the only time our clients get an additional charge is when we discuss it prior to doing so.</p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingThree">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Is the Internet fast?</strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion1">
                    <div class="card-body">
                      <p>YES! We have one of the fastest connections possible and no limitation on fair usage, this means no additional costs!</p>
                    </div>
                  </div>

                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingFour">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>What are the payment terms? Is there a start-up fee?</strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion1">
                    <div class="card-body">
                      <p>Payment can be made monthly, quarterly or annually. There are no start-up fees in any of the Signature start up packages. We do require a 1 month security deposit which is fully refundable.</p>

                    </div>
                  </div>

                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingFive">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <strong>Can I use one of your offices for a month whilst I am in town for business?</strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion1">
                    <div class="card-body">
                        <p>Yes you can. Please give us a call and we will let you know what we have available.</p>
                    </div>
                  </div>

                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingSix">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <strong>I'm busy, can Signature handle everything?</strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion1">
                    <div class="card-body">
                      <p>Yes, we will set up your office. All you have to do is plug in your laptop, get a drink and start working straight away. We are here to do all the hard work for you, from document clearance to answering your calls.</p>

                    </div>
                  </div>

                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingSeven">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <strong>Is a Serviced office more expensive than my own?</strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion1">
                    <div class="card-body">

                        <p>Absolutely not, when working out your costs if you factor in office supplies, a receptionist, IT support, office rent & fit-out costs then a serviced office is, in most cases, the most economical way to start your business.</p>

                    </div>
                  </div>

                </div>
              </div>


            </div>
          </div>
          <!--/First row-->

          <!-- Second Row -->
          <div class="row">
            <div class="col-12 text-left">
              <h5 class="feature-title p-3 rounded"><strong>Business Set-Up</strong></h5>
              <div id="accordion2">
                <div class="">
                  <div class="card-header bg-white" id="headingOne1">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                        <strong>What type of businesses do you set-up?</strong>
                      </h6>
                    </h6>
                  </div>

                  <div id="collapseOne1" class="collapse" aria-labelledby="headingOne1" data-parent="#accordion2">
                    <div class="card-body">
                      <p>We can set up 3 different types of on-shore company in Dubai with the Dubai Economic Department. </br></br>

                        These licences are; Branch of an International Company, Professional and Limited Liability.</br></br>

                        All new companies setting up in Dubai are required to have a registered office space. This would be provided as part of our fully inclusive package.</p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingTwo2">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                          <strong>How can I be sure what is right for my business?</strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordion2">
                    <div class="card-body">
                      <p>We realise that everyone is different. We can help you find out what is the best way forward for you based on over 25 years business set up experience in Dubai and over 10 years experience in Serviced Offices.</br></br>

                        You can set up everything with us or you can lease a serviced office. The choice is entirely yours.</p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingThree">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                        <strong>How do I find out more?</strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseThree3" class="collapse" aria-labelledby="headingThree3" data-parent="#accordion2">
                    <div class="card-body">
                      <p>Please feel free to give us a call on <a href="tel:+97143116500">+9714 311 6500</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Second Row -->

          <!-- Third Row -->
          <div class="row">
            <div class="col-12 text-left">
              <h5 class="feature-title p-3 rounded"><strong>CMS</strong></h5>
              <div id="accordion3">
                <div class="">
                  <div class="card-header bg-white" id="headingOnei">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseOnei" aria-expanded="true" aria-controls="collapseOnei">
                        <strong>Why choose a Communications Management Services (CMS)?</strong>
                      </h6>
                    </h6>
                  </div>

                  <div id="collapseOnei" class="collapse" aria-labelledby="headingOnei" data-parent="#accordion3">
                    <div class="card-body">
                      <p>CMS gives your clients a better first impression as you no longer personally answer your own calls. One of our receptionist will handle each call as per your instructions.</p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingTwoii">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseTwoii" aria-expanded="false" aria-controls="collapseTwoii">
                          <strong>How fast can a Communications Management Services (CMS) be setup?</strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseTwoii" class="collapse" aria-labelledby="headingTwoii" data-parent="#accordion3">
                    <div class="card-body">
                      <p>Your (CMS) will be activated within 24 hours, with all calls answered in your company name and handled in the exact way as you have instructed.</p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingThreeiii">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseThreeiii" aria-expanded="false" aria-controls="collapseThreeiii">
                        <strong>What if I want to upgrade from a Communications Management Services (CMS) to a Serviced Office?</strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseThreeiii" class="collapse" aria-labelledby="headingThreeiii" data-parent="#accordion3">
                    <div class="card-body">
                      <p>Easy, let us know when you want to make your move into our Serviced offices and we shall change your contract with no additional hidden administration charges.</p>
                    </div>
                  </div>

                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingFouriv">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseFouriv" aria-expanded="false" aria-controls="collapseFouriv">
                        <strong>Who answers the phone for my company?</strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseFouriv" class="collapse" aria-labelledby="headingFouriv" data-parent="#accordion3">
                    <div class="card-body">
                      <p>One of our skilled English receptionists will answer the phone on all occasions in your company name and manage all your calls just as a receptionist should.</p>

                    </div>
                  </div>

                </div>
                <div class="">
                  <div class="card-header bg-white" id="headingFivev">
                    <h6 class="mb-1">
                      <h6 class="collapsed" data-toggle="collapse" data-target="#collapseFivev" aria-expanded="false" aria-controls="collapseFivev">
                        <strong>Can a Communications Management Services (CMS) be used for a Trade License application or renewal?</strong>
                      </h6>
                    </h6>
                  </div>
                  <div id="collapseFivev" class="collapse" aria-labelledby="headingFivev" data-parent="#accordion3">
                    <div class="card-body">
                        <p>Unfortunately a Communications Management Services (CMS) is a service not an allocation of commercially listed space, visit Dubai DED for further information.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/Grid column-->

        <!--Grid column-->
          <div class="col-lg-2 col-md-12">
            <div class="card rounded p-3">
            <!--First row-->
            <div class="row">

              <div class="col-12 text-center justify-content-center">
                <a href="" data-toggle="modal" data-target="#message">  <h5 class="mb-3 feature-title black-text"><strong>Contact Us</strong></h5>
                <i class="mb-3 fas fa-phone sd-bar-icons"></i> <a/>
                <p class="mb-3 grey-text">Contact us today to find out how Signature can help your business in Dubai.</p>
                <a data-toggle="modal" data-target="#message" class="mb-3 btn btn-blue btn-sm rounded p-2">Contact Us</a>
              </div>
            </div>
            <!--/First row-->
            <!-- Second Row -->
            <div class="row">

              <div class="col-12 text-center">
                <hr class="my-3">
                <a href="/en/setup"> <h5 class="mb-3 feature-title black-text"><strong>Business Set-up?</strong></h5>
                <i class="mb-3 fas fa-handshake sd-bar-icons"></i> </a>
                <p class="mb-3 grey-text">With over 17 years experience in the Dubai market, Signature has the know-how to get your business started in Dubai.</p>
                <a target="" href="/en/setup" class="mb-3 btn btn-blue btn-sm rounded p-2">Find Out More</a>
              </div>
            </div>

            <!-- Second Row -->

            <!-- Third Row -->


            <div class="row">

              <div class="col-12 text-center">
                <hr class="my-3">
                <a href="/en/offices"> <h5 class="mb-3 feature-title black-text"><strong>Serviced Offices</strong></h5>
                <i class="mb-3 fas fa-key sd-bar-icons"></i> </a>
                <p class="mb-3 grey-text">With over 17 years experience in the Dubai market, Signature has the know-how to get your business started in Dubai.</p>
                <a target="" href="/en/offices" class="mb-3 btn btn-blue btn-sm rounded p-2">Find Out More</a>
              </div>
            </div>


            <!-- Third Row -->

            </div>
          </div>
          <!--/Grid column-->


      </div>
  </div>
