<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- <meta name="keywords" content="HTML, Web Applicaations, Online Software, CSS, Javascript, Website, Website Developer, Hosting, UAE Website, Website Support, Website Services, Online"> -->
  <meta name="description" content="Signature Dubai Business Set-up and Serviced Offices - our 10 years of experience can help your business grow.">
  <title>Signature Serviced Offices & Business Set-Up Dubai</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <style type="text/css">
    html,
    body,
    header,
    .view {
      height: 100%;
    }

    @media (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 1000px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .view {
        height: 650px;
      }

    }
    @media (min-width: 800px) and (max-width: 850px) {
              .navbar:not(.top-nav-collapse) {
                  background: white!important;
              }
          }
  </style>


</head>
<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v6.0"></script>

  <!-- Navbar -->

  <nav class="navbar fixed-top navbar-expand-lg navbar-custom">
    <div id="top-row" class="w-100">
      <div class="row">
        <div class="text-white col-10 py-1 top-bar">
          <a href="mailto:info@signature.ae" class="white-text"><marquee behavior="scroll" direction="left">Sign up for 12 months and Pay for 10!&nbsp;&nbsp;<span style="text-decoration: underline; font-size: 13px; font-weight: lighter">Contact Us</span></marquee></a>
        </div>
        <div class="col-2 top-bar" >
            <a href="/ar"><p class="float-right text-white bg-blue pr-3 py-1">العربية</p></a>
        </div>

    </div>
    <div class="container px-4 col-12">


      <!-- Brand -->
      <a class="navbar-brand" href="/en" target="">
        <img src="img/logo.png"></img>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:#0060af; font-size:28px;"></i></span>
      </button>


      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" href="/en" >Home
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" href="/en/offices" target="">Serviced Offices</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" href="/en/setup" target="" >Business Setup</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" href="/en/cms" target="" >CMS</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" href="/en/blog" target="" >Blog</a>
          </li>
          <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link dropbtn" href="" target="" >Questions?</a>
            <div class="dropdown-content">
            <a href="/en/about">About Us</a>
            <a href="/en/testimonials">Testimonials</a>
            <a href="/en/faqs">FAQ's</a>
            </div>
          </li>
        </ul>


      </div>

    </div>
  </div>
  </nav>
  <!-- Navbar -->

<!-- Modal - Other -->

 <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h4 class="modal-title" id="exampleModalCenterTitle"><strong>Leave a Message</strong></h4>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span id="close-btn" class="white-text" aria-hidden="true">&times;</span>
         </button>
       </div>
        <div class="modal-body">
          <!-- Form -->
          <form name="" method="post" action="/en/contactsubmit">
            <div class="md-form">
              <i class="fas fa-user prefix grey-text"></i>
              <input type="text" id="form1" class="form-control" name="name" required>
              <label for="form1">Your name</label>
            </div>
            <div class="md-form">
              <i class="fas fa-envelope prefix grey-text"></i>
              <input type="email" id="form2" class="form-control" name="email" required>
              <label for="form2">Your email</label>
            </div>
            <div class="md-form">
              <i class="fas fa-phone prefix grey-text"></i>
              <input type="text" id="form3" class="form-control" name="phoneNumber" required>
              <label for="form3">Phone number</label>
            </div>
            <div class="md-form">
              <i class="fas fa-pencil-alt prefix grey-text"></i>
              <textarea type="text" id="form8" class="md-textarea" name="message" required></textarea>
              <label for="form8">Your message</label>
            </div>

            <div class="text-center">
              <button class="btn" type="submit" value="submit">Send</button>
              <hr>
              <p>Call Us&nbsp; <a href="tel:+97143116500">+9714 311 6500</a></p>
            </div>

          </form>
          <!-- Form -->
     </div>
   </div>
 </div>
</div>
<!-- Modal -Other -->


  <%- body %>

  <!--Footer-->
  <footer class="page-footer text-center font-small wow fadeIn">

    <!-- Social icons -->
    <!-- <div class="pb-4 py-3">
      <a href="" target="">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="/" target="" data-toggle="modal" data-target="#other">
      <i class="far fa-envelope mr-3"></i>
      </a>

      <a href="" target="">
        <i class="fab fa-whatsapp"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href="https://dribbble.com/mdbootstrap" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href="https://pinterest.com/mdbootstrap" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="http://codepen.io/mdbootstrap/" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div> -->
    <!-- Social icons -->

    <!-- Section 2 -->


        <!--Section: Main features & Quick Start-->
        <div>


          <!--Grid row-->
          <div class="row wow fadeIn m-0">

            <!--Grid column-->
            <div class="col-lg-4 col-sm-12 px-4 pl-5">
                <hr class="my-4">
              <!--First row-->
              <div class="row">
                <div class="col-12 text-left">
                  <h6 class="mb-3"><strong>Get In Touch</strong></h6>
                  <p class="mb-3 grey-text">Large, medium or small, we have solutions for all types of businesses.</p>
                  <p><a href="tel:+97143116500" class="grey-text"><i class="fas fa-phone"></i>&nbsp; +971 4 311 6500 </a></p>
                  <p><a href="mailto:info@signature.ae" class="grey-text"><i class="far fa-envelope"></i>&nbsp; info@signature.ae</a> </p>
                  <h6><strong>Visit Us</strong></h6>
                  <p class="grey-text">Burj Al Salam </br> Level 25 </br> Sheikh Zayed Road, Dubai </p>
                  <h6><strong>Connect With Us</strong></h6>
                  <div id="sm-icons" class="pb-4">
                    <a href="http://www.facebook.com/pages/Signature/364761476378" target="_blank"><i class="fab fa-facebook-f p-2"></i></a>
                    <a href="http://www.twitter.com/SignatureDXB" target="_blank"><i class="fab fa-twitter p-2"></i><a/>
                    <a href="http://www.youtube.com/watch?v=SPpW0PV85YQ" target="_blank"><i class="fab fa-youtube p-2"></i></a>
                  </div>

                </div>
              </div>
              <!--/First row-->

            </div>
            <!--/Grid column-->

            <!--Grid column-->
              <div class="col-lg-4 col-sm-12 pl-5">
                  <hr class="my-4">
                <!--First row-->
                <div class="row">

                  <div class="col-12 text-left">
                    <h6 class="mb-3"><strong>Visit Us In Dubai</strong></h6>
                    <iframe class="align-center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3609.215026938415!2d55.284316515354526!3d25.22968158388103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f42ef4bcbda43%3A0x996608a1fcf77669!2sBurj%20Al%20Salam%20-%206th%20St%20-%20Dubai!5e0!3m2!1sen!2sae!4v1585246680219!5m2!1sen!2sae" width="90%" height="300" frameborder="1" style="border:0; border-radius: 5px;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
                  </div>
                </div>
                <!--/First row-->
              </div>
              <!--/Grid column-->

              <!--Grid column-->
                <div id="contact-footer" class="col-lg-4 col-sm-12 pl-5">
                      <hr class="my-4">
                  <!--First row-->
                  <div class="row">
                    <div class="col-12 text-left">
                      <h6 class="mb-3"><strong>Contact Us</strong></h6>
                      <form id="contact-form" class="bg-white p-3 rounded mb-5" name="" method="post" action="/en/contactSubmit">

                        <div class="md-form mt-1">
                          <i class="fas fa-user prefix grey-text"></i>
                          <input type="text" id="form3" class="form-control pt-0" name="name" placeholder="Your Name" required>
                          <!-- <label for="form3">Your name</label> -->
                        </div>
                        <div class="md-form">
                          <i class="fas fa-envelope prefix grey-text"></i>
                          <input type="email" id="form2" class="form-control pt-0" name="email" placeholder="Your Email" required>
                          <!-- <label for="form2">Your email</label> -->
                        </div>

                        <div class="md-form">
                          <i class="fas fa-phone prefix grey-text"></i>
                          <input type="text" id="form2" class="form-control pt-0" name="phoneNumber" placeholder="Your Phone Number" required>
                          <!-- <label for="form2">Your email</label> -->
                        </div>

                        <div class="md-form mb-0">
                          <i class="fas fa-pencil-alt prefix grey-text"></i>
                          <textarea type="text" id="form8" class="md-textarea pt-0" name="message" placeholder="Message" required></textarea>
                          <!-- <label for="form8">Your message</label> -->
                        </div>

                        <div class="text-center">
                          <button class="btn btn-sm btn-blue" type="submit" value="submit">Send</button>
                          <hr>

                        </div>

                      </form>
                    </div>
                  </div>
                  <!--/First row-->
                </div>
                <!--/Grid column-->

          </div>
        </div>

    <!-- Section 2 -->


    <!--Copyright-->
   <div class="footer-copyright py-3">
     <p>Copyright&nbsp;&copy;
     <script>document.write(new Date().getFullYear());</script>&nbsp;&nbsp; Signature Businessmen Services
     <a href="/" target=""> </a></p>
   </div>
   <!--/.Copyright-->

 </footer>
<!--/.Footer-->


    <!-- Floating Action Button -->
    <div id="fabmenu">
    <a href="#" class="float" id="menu-share">
    <i class="fa fa-comment my-float"></i>
    </a>
    <ul>
    <li><a target="_blank" href="https://m.me/signaturedxb">
    <i class="fab fa-facebook-messenger my-float"></i>
    </a></li>
    <li><a target="_blank" href="https://wa.me/97143116500">
    <i class="fab fa-whatsapp my-float"></i>
    </a></li>
    <!-- <li><a href="#">
    <i class="fa fa-twitter my-float"></i>
    </a></li> -->
    </ul>
    </div>
    <!-- Floating Action Button -->

<!--
    <script type="text/javascript">
        $(document).ready(function () {
            $('a[href^="#"]').on('click', function (e) {
                e.preventDefault();

                var target = this.hash;
                var $target = $(target);

                $('html, body').stop().animate({
                    'scrollTop': $target.offset().top - 150
                }, 1000, 'swing', function () {
                    window.location.hash = target - 150;
                });
            });
        });
    </script> -->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/js/mdb.min.js"></script>
     <!-- Initializations -->
     <script type="text/javascript">
       // Animations initialization
       new WOW().init();
     </script>

     <!-- Modal on Load -->
     <!-- <script type="text/javascript">
     $(window).on('load',function(){
         $('#promo').modal('show');
     });
     </script> -->
     <!-- Modal on Load -->

     <!-- Modal on Load Once Per Day-->
      <!-- <script>
        $(window).on('load',function(){
        if (document.cookie.indexOf('visited=true') == -1){

          $('#promo').modal({show:true});
          var day = 1000*60*60*24;
          var expires = new Date((new Date()).valueOf() + day);
          document.cookie = "visited=true;expires=" + expires.toUTCString();
          }
        });
      </script> -->
      <!-- Modal On Load Once Per Day-->


</body>

</html>
