
  <div class=" my-5 p-5">


          <!--Grid row-->
      <div class="row mt-5">

        <!--Grid column-->
        <div class="col-lg-10 col-md-12">
<!--
          <div class="mx-0 px-0 ">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white pl-0">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
          </nav>
          </div> -->

              <div>
                <h3><strong>Testimonials</strong></h3>
                <p>Don't take our word for it, read what our clients have to say about us!</p>
              </div>

          <div>
            <div class="p-4 p-md-5 text-black">
              <div class="row px-0 bg-white">
                <div class="col-lg-6 col-md-12 pt-3 text-center">
                  <img class="img-fluid" src="img/herman_miller.jpg">
                </div>
                <div class="col-lg-6 col-md-12 pt-3 px-0">
                  <h3>Herman Miller</h3>
                  <p class="font-italic">"Herman Miller required serviced accommodation for 20 people at quite short notice, Signature listened to our needs and came up with a solution that worked well for us and within our budget, once agreed their team worked over the weekend to get everything ready and to make the transition as simple as possible, and we had no real interruption to our working schedule. The location is great for our team and the support staff have been quick and efficient in handling our requests".</br>
                  <p class="grey-text">Robert Keddie - Regional Director, Middle East & Africa</p>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="p-4 p-md-5 text-black">
              <div class="row px-0 bg-white">
                <div class="col-lg-6 col-md-12 pt-3">
                  <h3>Upsyde</h3>
                  <p class="font-italic">“Upsyde, an Oil and Gas Project Management company, was formed in 2010 in Dubai. We had to move premises at the year-end of 2010 as the company we shared with was leaving Dubai so we took a short term serviced office lease with Signature Business Services in The Fairmont. We are now in our third year with Signature as the location and support we get is ideal for the International projects we undertake. We can highly recommend Signature to any small company which wants to get on with their business hassle free in a friendly professional environment, we have no plans to move now”.</br>
                  <p class="grey-text">Andrew Morrison - CEO</p>
                </div>
                <div class="col-lg-6 col-md-12 pt-3 text-center">
                  <img class="img-fluid" src="img/upsyde.jpg">
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="p-4 p-md-5 text-black">
              <div class="row px-0 bg-white">
                <div class="col-lg-6 col-md-12 pt-3 text-center">
                  <img class="img-fluid" src="img/pdl_logo.jpg">
                </div>
                <div class="col-lg-6 col-md-12 pt-3 px-0">
                  <h3>PDL Middle East</h3>
                  <p class="font-italic">“I have worked with the ‘Signature team’ for a few years now. The Signature team is friendly and professional and always willing to help me with my administrative requests such as taking messages, bookings of meeting rooms, and couriering. The staff is customer service orientated and fluent in English which is beneficial as English is my second language. The location is fantastic being in the heart of Dubai and the meeting rooms provide me with the opportunity to see clients / suppliers in a professional environment. I would highly recommend their services to anyone who also wants to be treated by their professionalism, enthusiasm and excellent customer service to take their business to the next level.”</br>
                  <p class="grey-text">Fuad Mammadov - General Manager</p>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="p-4 p-md-5 text-black">
              <div class="row px-0 bg-white">
                <div class="col-lg-6 col-md-12 pt-3">
                  <h3>Winterhill Largo</h3>
                  <p class="font-italic">"The staff at Signature are always friendly and welcoming not just to us at Winterhill Largo but to our clients as well. We find that Signature offer a perfect solution in providing a qualified set of staff, fully operational office equipment and supplies, and professional meeting rooms. Our phone calls are always answered promptly professionally with clear detailed messages always sent through in a timely manner. The professionalism of all the Signature staff help to enhance our reputation with our clients. I would have no reservations in recommending their services to any company looking for a professional team and environment to complement their business."</br>
                  <p class="grey-text">Peter Lazarus - Managing Partner</p>
                </div>
                <div class="col-lg-6 col-md-12 pt-3 text-center">
                  <img class="img-fluid" src="img/winterhill.jpg">
                </div>
              </div>
            </div>
          </div>



        </div>
        <!--/Grid column-->

        <!--Grid column-->
          <div class="col-lg-2 col-md-12">
            <div class="card rounded p-3">
            <!--First row-->
            <div class="row">

              <div class="col-12 text-center justify-content-center">
                <a href="" data-toggle="modal" data-target="#message">  <h5 class="mb-3 feature-title black-text"><strong>Contact Us</strong></h5>
                <i class="mb-3 fas fa-phone sd-bar-icons"></i> <a/>
                <p class="mb-3 grey-text">Contact us today to find out how Signature can help your business in Dubai.</p>
                <a data-toggle="modal" data-target="#message" class="mb-3 btn btn-blue btn-sm rounded p-2">Contact Us</a>
              </div>
            </div>
            <!--/First row-->
            <!-- Second Row -->
            <div class="row">

              <div class="col-12 text-center">
                <hr class="my-3">
                <a href="/en/setup"> <h5 class="mb-3 feature-title black-text"><strong>Business Set-up?</strong></h5>
                <i class="mb-3 fas fa-key sd-bar-icons"></i> </a>
                <p class="mb-3 grey-text">With over 17 years experience in the Dubai market, Signature has the know-how to get your business started in Dubai.</p>
                <a target="" href="/en/setup" class="mb-3 btn btn-blue btn-sm rounded p-2">Find Out More</a>
              </div>
            </div>

            <!-- Second Row -->

            <!-- Third Row -->


            <div class="row">

              <div class="col-12 text-center">
                <hr class="my-3">
                <a href="/en/offices"> <h5 class="mb-3 feature-title black-text"><strong>Serviced Offices</strong></h5>
                <i class="mb-3 fas fa-key sd-bar-icons"></i> </a>
                <p class="mb-3 grey-text">With over 17 years experience in the Dubai market, Signature has the know-how to get your business started in Dubai.</p>
                <a target="" href="/en/offices" class="mb-3 btn btn-blue btn-sm rounded p-2">Find Out More</a>
              </div>
            </div>


            <!-- Third Row -->

            </div>
          </div>
          <!--/Grid column-->


      </div>
  </div>
