

<!-- Section 2 -->

  <div class="pt-5 px-5 my-5">

    <div class="text-left pt-5">
      <h3 class="mb-3 feature-title"><strong>Latest At Signature</strong></h3>
    </div>
          <!--Grid row-->
      <div class="row wow fadeIn mt-3 py-4">

        <!--Grid column-->
        <div class="col-lg-6 col-md-12">
          <div class="row">
            <div class="col-12">
              <div id="accordion">
                <!-- FirstRow -->
                <div class="card">
                <div class="row">
                <div class="col-lg-6 col-md-12 text-center">
                  <img class="img-fluid p-3" src="img/Happy-Eid-Images-BESTLINECARGO.jpg">
                </div>
                <div class="col-lg-6 col-md-12 p-3">
                  <div class="p-3">
                  <h1>Eid Al Adha 2019</h1>
                  <p class="blue-text">August 10, 2019</p>
                  <p class="pr-3">Signature will be closed from Sunday August 11th until Tuesday August 13th to observe Eid Al Adha.  Signature will reopen on Wednesday, August 14th with our regular business hours of 8:30 to 5:30 p.m.</p>
                  <div id="collapseOne" class="collapse" data-parent="#accordion">
                  <div class="">
                  <p>The Signature team hopes that all of our clients will have a relaxing and enjoyable break during this period.</p>
                  </div>
                  </div>
                  <a href="#collapseOne" data-toggle="collapse" class="collapsed"></a>
                </div>
                </div>
                </div>
                </div>
              <!-- First Row -->
              <!-- Second Row -->
              <div class="card mt-3">
              <div class="row">
              <div class="col-lg-6 col-md-12 text-center">
                <img class="img-fluid p-3" src="img/Eid Mubarak 2015.jpg">
              </div>
              <div class="col-lg-6 col-md-12 p-3">
                <div class="p-3">
                <h1>Eid Al Fitr 2019</h1>
                <p class="blue-text">June 2, 2019</p>
                <p class="pr-3">Following the recent announcement by The Ministry of Human Resources  that Eid al-Fitr will begin on the evening of Monday 3rd  June,  Our opening hours during this festive period are as follows:</p>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="">
                <p style="font-weight: bold">Sunday : 8.30pm – 4.00pm</p>
                <p style="font-weight: bold">Monday – Thursday : CLOSED</p>

                <p>We look forward to welcoming you through our doors as per normal timings on Sunday 9th June, 2019 from 08:30 am – 5:30 pm</p>

                <!-- <p>We would like to take this opportunity to wish all our valued clients and their family a joyous and blessed Ramadan.</p> -->

                <!-- <p>Please do not hesitate to contact reception directly should you require any further information.</p> -->
                </br>
                <!-- <p>Kind regards,</p> -->

                <p style="font-weight: bold">Signature Businessmen Services would like to wish you a happy and prosperous Eid Al- Fitr.</p>
                </div>
                </div>
                <a href="#collapseTwo" data-toggle="collapse" class="collapsed"></a>
              </div>
              </div>
                </div>
              </div>
              <!-- Second Row -->
              <!-- Third Row -->
              <div class="card mt-3">
              <div class="row">
              <div class="col-lg-6 col-md-12 text-center">
                <img class="img-fluid p-3" src="img/Ramadan_2016.jpg">
              </div>
              <div class="col-lg-6 col-md-12 p-3">
                <div class="p-3">
                <h1>Ramadan Office Timings 2019</h1>
                <p class="blue-text">May 5, 2019</p>
                <p class="pr-3">The Signature Team would like to provide ample notice so that you may make the necessary arrangements for your business by announcing our hours of operation during the Holy Month of Ramadan 2019:</p>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="">
                <p style="font-weight: bold">Ramadan Timings- Sunday to Thursday, 8:30am to 4pm.</p>

                <p>These hours of operation will come into effect as soon as the official announcement is made for the start of Ramadan, which may possibly be the 6th of May.</p>

                <p>We would like to take this opportunity to wish all our valued clients and their family a joyous and blessed Ramadan.</p>

                <p>Please do not hesitate to contact reception directly should you require any further information.</p>
                </br>
                <p>Kind regards,</p>

                <p style="font-weight: bold">The Signature Team</p>
                </div>
                </div>
                <a href="#collapseThree" data-toggle="collapse" class="collapsed"></a>
              </div>
              </div>
                </div>
              </div>
              <!-- Third Row -->
              </div>
            </div>
          </div>


        </div>
        <!--/Grid column-->

        <div class="col-lg-6 col-md-12 m-0">
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-2">
              <a class="twitter-timeline" href="https://twitter.com/SignatureDXB?ref_src=twsrc%5Etfw" data-limit="3">Tweets by SignatureDXB</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-lg-8 col-md-12 mt-md-3 text-center">
              <div class="fb-page" data-href="https://www.facebook.com/pages/Signature/364761476378" data-tabs="timeline" data-width="500px" data-height="1000px" data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/pages/Signature/364761476378" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/pages/Signature/364761476378">‏‎Signature Businessmen Services‎‏</a></blockquote></div>
            </div>
          </div>
        </div>




      </div>




  </div>
<!-- Section 2 -->
