<div class=" my-5 py-5" style="min-height: 100vh;">
<div class="container">
<div>
    <div class="p-0 col-12">
   <%- typeof msg != 'undefined' ? msg: '' %>
  </div>

</div>



        <!--Grid row-->
    <div class="text-left pt-3">
      <div class="row">
      <div class="col-8">
      <h3 class="feature-title"><strong>Admin Home Page</strong></h3>
      </div>
      </div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Home</a></li>


        </ol>

      </nav>
    </div>
    <div>

    </div>
          <!--Grid row-->
    <div class="mt-4 px-3">

      <table id="paginationNumbers" class="table" width="100%">
      <thead>
        <tr>
          <th class="th-sm">No.
          </th>
          <th class="th-sm">Page URL
          </th>
          <th class="th-sm">Description
          </th>
          <th class="th-sm">Language
          </th>
          <th class="th-sm">Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>1</strong></td>
          <td>/testimonials</td>
          <td>Client testimonial resource</td>
          <td>English / Arabic</td>
          <td>
            <div class="row text-center">
            <a class="btn btn-primary btn-sm" href="/testimonialslist">Manage</a>
            </div>
          </td>
        </tr>

        <tr>
          <td><strong>2</strong></td>
          <td>/blog</td>
          <td>Blogs and announcements resource</td>
          <td>English</td>
          <td>
            <div class="row text-center">
            <a class="btn btn-primary btn-sm" href="/bloglistedit">Manage</a>
            </div>
          </td>
        </tr>

        <tr>
          <td><strong>3</strong></td>
          <td>/home</td>
          <td>Edit contents and images on the homepage</td>
          <td>English / Arabic</td>
          <td>
            <div class="row text-center">
            <a class="btn btn-primary btn-sm" href="/edithomepage">Manage</a>
            </div>
          </td>
        </tr>

        <tr>
          <td><strong>4</strong></td>
          <td>/offices</td>
          <td>Edit contents and images on the Serviced Offices Page</td>
          <td>English / Arabic</td>
          <td>
            <div class="row text-center">
            <a class="btn btn-primary btn-sm" href="/editservicepage">Manage</a>
            </div>
          </td>
        </tr>

        <tr>
          <td><strong>5</strong></td>
          <td>/setup</td>
          <td>Edit contents and images on the Business Setup Page</td>
          <td>English / Arabic</td>
          <td>
            <div class="row text-center">
            <a class="btn btn-primary btn-sm" href="/editsetuppage">Manage</a>
            </div>
          </td>
        </tr>

        <tr>
          <td><strong>6</strong></td>
          <td>/cms</td>
          <td>Edit contents on the CMS Page</td>
          <td>English / Arabic</td>
          <td>
            <div class="row text-center">
            <a class="btn btn-primary btn-sm" href="/editcmspage">Manage</a>
            </div>
          </td>
        </tr>

        <tr>
          <td><strong>7</strong></td>
          <td>/about</td>
          <td>Edit contents and images on the About Us Page</td>
          <td>English / Arabic</td>
          <td>
            <div class="row text-center">
            <a class="btn btn-primary btn-sm" href="/editaboutpage">Manage</a>
            </div>
          </td>
        </tr>

        <tr>
          <td><strong>8</strong></td>
          <td>/faqs</td>
          <td>Edit contents on the FAQ Page</td>
          <td>English / Arabic</td>
          <td>
            <div class="row text-center">
            <a class="btn btn-primary btn-sm" href="/editfaqspage">Manage</a>
            </div>
          </td>
        </tr>

      </tbody>
      </table>
  </div>
</div>
  </div>
