<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- <meta name="keywords" content="HTML, Web Applicaations, Online Software, CSS, Javascript, Website, Website Developer, Hosting, UAE Website, Website Support, Website Services, Online"> -->
  <!-- <meta name="description" content="Signature Dubai Business Set-up and Serviced Offices - our 10 years of experience can help your business grow."> -->
  <title>Signature Admin Page</title>
  <link rel="icon" href="img/favicon.ico" type="image/ico">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <style type="text/css">
    html,
    body,
    header,
    .view {
      height: 100%;
    }

    @media (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 1000px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .view {
        height: 650px;
      }

    }
    @media (min-width: 800px) and (max-width: 850px) {
              .navbar:not(.top-nav-collapse) {
                  background: white!important;
              }
          }
  </style>

  <!-- SummerNote -->

  <link href="css/summernote-bs4.min.css" rel="stylesheet">
  <link href="css/font/summernote.ttf" rel="stylesheet">

  <!-- DataTables -->
  <!-- MDBootstrap Datatables  -->
  <link href="css/addons/datatables2.min.css" rel="stylesheet">

</head>
<body>

  <!-- Navbar -->

  <nav class="navbar fixed-top navbar-expand-lg navbar-custom">
    <div id="top-row" class="w-100">
      <!-- <div class="row">
        <div class="text-white col-10 py-1 top-bar">
          <a href="mailto:info@signature.ae" class="white-text"><marquee behavior="scroll" direction="left">Sign up for 12 months and Pay for 10!&nbsp;&nbsp;<span style="text-decoration: underline; font-size: 13px; font-weight: lighter">Contact Us</span></marquee></a>
        </div>
        <div class="col-2 top-bar" >
            <a href="/ar"><p class="float-right text-white bg-blue pr-3 py-1">العربية</p></a>
        </div>

    </div> -->
    <div class="container px-4 col-12">


      <!-- Brand -->
      <a class="navbar-brand" href="/en" target="">
        <img src="img/logo.png"></img>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:#0060af; font-size:28px;"></i></span>
      </button>



      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav ml-auto">

          <!-- <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link font-weight-bold" href="/adminpage" >Home
              <span class="sr-only"></span>
            </a>
          </li> -->
          <!-- <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link font-weight-bold" href="/bloglistedit" target="">Blogs</a>
          </li> -->


          <% if (user.isSuperAdmin == "Yes") { %>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link font-weight-bold" href="/users" target="" >Users</a>
            </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link font-weight-bold" href="/settingsupdate" target="" >Business Settings</a>
          </li>
          <% } %>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link font-weight-bold" href="/logout" target="" >Logout</a>
          </li>


          <!-- <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link font-weight-bold" href="/en/cms" target="" >CMS</a>
          </li> -->
          <!-- <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link font-weight-bold" href="/en/blog" target="" >Blog</a>
          </li>
          <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link dropbtn font-weight-bold" href="" target="" >Questions?</a>
            <div class="dropdown-content font-weight-bold">
            <a href="/en/about">About Us</a>
            <a href="/en/testimonials">Testimonials</a>
            <a href="/en/faqs">FAQ's</a>
            </div>
          </li> -->
        </ul>


      </div>
      <% if (user) { %>
        <div class="nav-item d-lg-block d-none">
          <a class="black-text">&nbsp;&nbsp;|&nbsp; Hi <%= user.username %>! </a>
        </div>
      <% } %>
    </div>
  </div>

  </nav>
  <!-- Navbar -->


  <%- body %>



  <!--Footer-->
  <footer class="page-footer text-center font-small wow fadeIn">

    <!-- Social icons -->
    <!-- <div class="pb-4 py-3">
      <a href="" target="">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="/" target="" data-toggle="modal" data-target="#other">
      <i class="far fa-envelope mr-3"></i>
      </a>

      <a href="" target="">
        <i class="fab fa-whatsapp"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href="https://dribbble.com/mdbootstrap" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href="https://pinterest.com/mdbootstrap" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="http://codepen.io/mdbootstrap/" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div> -->
    <!-- Social icons -->

    <!-- Section 2 -->




    <!--Copyright-->
   <div class="footer-copyright py-3">
     <p>Copyright&nbsp;&copy;
     <script>document.write(new Date().getFullYear());</script>&nbsp;&nbsp; Signature Businessmen Services
     <a href="/" target=""> </a></p>
   </div>
   <!--/.Copyright-->

 </footer>
<!--/.Footer-->


    <!-- Floating Action Button -->
    <div id="fabmenu">
    <a href="#" class="float" id="menu-share">
    <i class="fa fa-comment my-float"></i>
    </a>
    <ul>
    <li><a target="_blank" href="https://m.me/signaturedxb">
    <i class="fab fa-facebook-messenger my-float"></i>
    </a></li>
    <li><a target="_blank" href="https://wa.me/97143116500">
    <i class="fab fa-whatsapp my-float"></i>
    </a></li>
    <!-- <li><a href="#">
    <i class="fa fa-twitter my-float"></i>
    </a></li> -->
    </ul>
    </div>
    <!-- Floating Action Button -->

<!--
    <script type="text/javascript">
        $(document).ready(function () {
            $('a[href^="#"]').on('click', function (e) {
                e.preventDefault();

                var target = this.hash;
                var $target = $(target);

                $('html, body').stop().animate({
                    'scrollTop': $target.offset().top - 150
                }, 1000, 'swing', function () {
                    window.location.hash = target - 150;
                });
            });
        });
    </script> -->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/js/mdb.min.js"></script>
     <!-- Initializations -->
     <!-- <script type="text/javascript">
       // Animations initialization
       new WOW().init();
     </script> -->


     <!-- Modal on Load -->
     <!-- <script type="text/javascript">
     $(window).on('load',function(){
         $('#promo').modal('show');
     });
     </script> -->
     <!-- Modal on Load -->

     <!-- Modal on Load Once Per Day-->
      <!-- <script>
        $(window).on('load',function(){
        if (document.cookie.indexOf('visited=true') == -1){

          $('#promo').modal({show:true});
          var day = 1000*60*60*24;
          var expires = new Date((new Date()).valueOf() + day);
          document.cookie = "visited=true;expires=" + expires.toUTCString();
          }
        });
      </script> -->
      <!-- Modal On Load Once Per Day-->

      <!-- Live Form Update -->

      <script>
        $('.input').keyup(function(){
           var $this = $(this);
           $('.'+$this.attr('id')+'').html($this.val());
        });
      </script>


      <!-- SummerNote -->
      <script type="text/javascript" src="js/summernote-bs4.min.js"></script>

      <!-- Image Click -->
      <script type="text/javascript" src="js/imageclick.js"></script>

      <script>
      $(document).ready(function() {
        $('.summernote').summernote({
          callbacks: {
            onKeyup: function(e) {
              setTimeout(function(){
                $(".details").html($('.summernote').val());
              },200);
            }
          },
       placeholder: '',
       tabsize: 2,
       // height: 200,
       // width: 720,
       toolbar: [
         ['style', ['style']],
         ['font', ['bold', 'underline', 'clear']],
         ['color', ['color']],
         ['para', ['ul', 'ol', 'paragraph']],
         ['table', ['table']],
         // ['insert', ['link', 'picture', 'video']],
         // ['view', ['fullscreen', 'codeview', 'help']]
       ]
      });
      });
      </script>

      <script>
      $(document).ready(function() {
        $('.summernote2').summernote({
       placeholder: '',
        // tabsize: 2,
       // height: 200,
       // width: 745,
       toolbar: [
         // ['style', ['style']],
         // ['font', ['bold', 'underline', 'clear']],
         // ['color', ['color']],
         // ['para', ['ul', 'ol', 'paragraph']],
         // ['table', ['table']],
         // ['insert', ['link', 'picture', 'video']],
         // ['view', ['fullscreen', 'codeview', 'help']]
       ]
      });
      });
      </script>



      <script>
      $('.editor').summernote('code');
      </script>

      <!-- MDBootstrap Datatables  -->
      <script type="text/javascript" src="js/addons/datatables2.min.js"></script>
      <script>
        $(document).ready(function () {
      //Pagination numbers
      $('#paginationNumbers').DataTable({
        "pagingType": "numbers"
        });
      });
      </script>


      <script>
      function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    imgId = '#preview-'+$(input).attr('id');
                    arimgId = '#arpreview-'+$(input).attr('id');
                    $(imgId).attr('src', e.target.result);
                    $(arimgId).attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
          }


          $("#mainform input[type='file']").change(function(){
            readURL(this);
          });
        </script>

        <script type="text/javascript">
          $(document).ready(function(){
            $('.delete-blog').on('click', function(e){
              $target = $(e.target)
              const id = $target.attr('data-id')
              $.ajax({
                type: 'DELETE',
                url: '/blog/'+id,
                success: function(response){

                }
              })
            })
          })
        </script>

        <script type="text/javascript">
          $(document).ready(function(){
            $('.delete-testimonial').on('click', function(e){
              $target = $(e.target)
              const id = $target.attr('data-id')
              $.ajax({
                type: 'DELETE',
                url: '/testimonial/'+id,
                success: function(response){

                }
              })
            })
          })
        </script>

</body>

</html>
